.page-header {
	margin-bottom: 2em;
	border-bottom: 1px solid #d7d7d7;
}

@media (--content-query) {
	.page-header {
		margin-bottom: 3em;
		padding-bottom: 2em;
	}
}

body:not(.center).entry-title {
	text-align: center;
}

.tax-course .page-title {
	margin-top: .5em;
	margin-bottom: .5em;
}

@media (--content-query) {
	.tax-course .page-title {
		margin-top: 1em;
	}
}

.course-grid {
	padding-left: 1em!important;
	padding-right: 1em!important;
	display: grid;
	grid-template-columns: repeat(auto-fit, 325px);
	justify-content: center;
	grid-gap: 2em;
}

.course-item,
.course-grid article {
	display: flex;
	border: 1px solid var(--border-color);
	border-radius: 0 0 0 1em;
}

.video-thumb {
	margin: 0;
}

.course-item .entry-title {
	margin: 0;
	padding: .5em .7em;
	font-size: 1.15em;
	font-weight: normal;
	text-align: left;
}

.course-item a {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	color: var(--global-font-color);
	text-decoration: none;
}

.course-item .entry-meta {
	margin: 0;
	padding: 0 1em 1em;
	color: grey;
}

.instructor {
	display: block;
	color: var(--global-font-color);
}

.movie-cta {
	position: relative;
	padding: .5em 1em;
	font-weight: normal;
	-webkit-font-smoothing: antialiased;
	color: var(--key-color);
	background-color: white;
	border-top: 1px solid var(--border-color);
	border-radius: 0 0 0 1em;
	transition: all .5s;
}

a:hover .movie-cta {
	color: white;
	background-color: var(--key-color);
}

.movie-cta::after {
	position: absolute;
	right: .5em;
	content: "‣";
	font-size: 1.5em;
	line-height: 85%;
}

.lil-embed {
	position: relative;
	overflow: hidden;
	padding-top: 56.25%;
}

.lil-embed iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	max-width: calc(50vw + var(--content-width)rem / 2);
	height: 100%;
	border: 0;
}

@media (--content-query) {
	.single-learn .post-navigation .nav-previous {
		flex: none;
	}

	.single-learn .post-navigation .nav-next {
		text-align: start;
		flex: none;
	}
}

.rel-title {
	font-size: 110%;
}
