/**
 * Custom styles for the front-page.php template.
 */

@media (--sidebar-query) {

	.wp-block-columns {
		padding: 1em 0;
		grid-template-rows: minmax(1em, auto);
	}

	.wp-block-columns p {
		margin: 0;
	}
}
